<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @candidate.name %>
</p>

<p>
  <b>Age:</b>
  <%= @candidate.age %>
</p>

<p>
  <b>Sex:</b>
  <%= @candidate.sex %>
</p>

<p>
  <b>Email:</b>
  <%= @candidate.email %>
</p>

<p>
  <b>Mobile:</b>
  <%= @candidate.mobile %>
</p>

<p>
  <b>Experience:</b>
  <%= @candidate.experience %>
</p>

<p>
  <b>College:</b>
  <%= @candidate.college %>
</p>

<p>
  <b>Year of passing:</b>
  <%= @candidate.year_of_passing %>
</p>

<p>
  <b>Platform:</b>
  <%= @candidate.platform %>
</p>

<p>
  <b>Vendor:</b>
  <%= @candidate.vendor %>
</p>

<p>
  <b>Round:</b>
  <%= @candidate.round %>
</p>

<p>
  <b>Date of interview:</b>
  <%= @candidate.date_of_interview %>
</p>

<p>
  <b>Interviewers:</b>
  <%= @candidate.interviewers %>
</p>

<p>
  <b>Status:</b>
  <%= @candidate.status %>
</p>

<hr size="50">
<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
